<p><%= @name_1 %> attacked <%= @name_2 %></p>
<div>
  <h1>PLAYER1: <%= @name_1 %></h1>
  <h1>PLAYER2: <%= @name_2 %></h1>
  <form action="/attack">
    <input type="submit" value="attack">
  </form>
  <h1><%= @name_1 %> Hitpoints: <%= @hitpoints_1 %>HP </h1>
  <h1><%= @name_2 %> Hitpoints: <%= @hitpoints_2 %>HP </h1>
</div>